---
const { projectName, projectLink, projectDescription, imageUrl } = Astro.props;

---
<style>
    .project-image-container {
        width: 100%;
        height: 300px;
        overflow: hidden;
        display: flex;
    }

    .project-image {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }
</style>

<div class="project-container">
    <div>
        <h3>{projectName}</h3>
        <div class="project-image-container" >
            <img src={imageUrl} alt={projectName} class="project-image" />
        </div>
    </div>
    <a href={projectLink}>View Github</a>
    <p>{projectDescription}</p>
</div>